.container{
    height: 100%;
    background-color: #222;
    display: flex;
}
.item{
    display: flex;
    flex: 1;
    position: relative;
}
.item:last-child{
    flex: 2;
 padding: 10px;
    justify-content: space-between;
}
.item
.card {
    flex: 1;
    padding: 0 20px;
}
.title{
    font-size: 18px;
    color: #b7903c;
}
.text{
    color: lightgray;
}
.moto{
    color: rgba(211,211,211);
}

@media screen and (max-width:480px){
    .container{
        height: auto;
        text-align: center;
    }
    .item:first-child{
        display: none;
    }
    .item{
        flex-direction: column;
    }
    .title{
        font-size: 30px;
    }

    
}